@import "src/styles/variables";

.contentContainer {
  overflow: hidden;
  position: relative;
  width: 100%;
  text-align: center;
}

.slider {
  overflow: hidden;
  display: flex;
  width: 100%;
  max-width: 600px;
  height: 585px;
  margin: 0 auto;
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  transition: all 0.4s ease-in-out;
  padding-top: 10%;

  img {
    display: block;
    width: 100%;
    max-width: 680px;
    height: 100%;
    margin: 0 auto;
  }
}

.blur {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  box-shadow: white 0 30px 25px 25px inset;
}

.changeSlideBtn {
  display: inline-flex;
  justify-content: center;
  width: 100px;
  background-color: #fff;
  border: none;
  border-radius: 25px;
  box-shadow: rgba(25, 45, 51, 0.15) 0 5px 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 15px 16px;
  margin-top: 20px;
  margin-bottom: 20px;

  &:first-of-type {
    margin-right: 30px;

    svg {
      transform: rotate(180deg);
    }

    &:hover {
      svg {
        transform: rotate(180deg) translateX(15px);
      }
    }
  }

  &:hover {
    box-shadow: rgba(25, 45, 51, 0.15) 0 2px 5px;

    svg {
      transform: translateX(15px);
    }
  }

  svg {
    transition: all 0.2s ease-in-out;

    path {
      fill: $color-primary;
    }
  }
}

@media (min-width: 1025px) {
  .slider {
    height: 495px;
  }
}